.nav-bar-container {
  display: block;
}

.nav-bar-item {
  display: block;
  color: white;
  text-decoration: none;
}
.nav-bar-nostyle {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.non-style {
  color: inherit;
  text-decoration: none;
}

.action {
  color: #f66810;
}

.hover-style:hover {
  color: #f66810;
  text-decoration: none;
}

.gray {
  color: gray;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
  color: darkgray;
}

/* Duel Card */

.legion-name-text {
  position: absolute;
  top: 15px;
  left: 20px;
  font-weight: bold !important;
  font-size: 1em;
}

.duel-left-time {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
  right: 10px;
  font-weight: bold !important;
}

.legion-ap-div {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 10px;
  font-size: 1em;
}

.legion-ap-text {
  font-weight: bold !important;
  font-size: 1.4rem !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.duel-bet-price-text {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-weight: bold !important;
  font-size: 1.4rem !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.legion-id-text {
  position: absolute !important;
  bottom: 8px !important;
  left: 20px !important;
  color: darkgrey;
  font-size: 1em !important;
}

.duel-delete-btn {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 2rem;
  cursor: pointer;
  filter: box-shadow(0px 0px 100px #fff);
}

.duel-result-price-text {
  font-size: 1.5em !important;
  color: white !important;
  font-weight: bold !important;
  -webkit-text-stroke: 0.2px white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.duel-estimate-price-div {
  width: 100%;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.winner-price-text {
  font-size: 3rem !important;
  font-weight: bold !important;
  color: #09d909 !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.loser-price-text {
  font-size: 3rem !important;
  font-weight: bold !important;
  color: red !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.draw-price-text {
  font-size: 3rem !important;
  font-weight: bold !important;
  color: orange !important;
}

.estimate-price {
  font-size: 3rem !important;
  font-weight: bold !important;
  color: #39fcff !important;
}

@media only screen and (max-width: 800px) {
  .loser-price-text {
    font-size: 2em !important;
  }
  .winner-price-text {
    font-size: 2em !important;
  }
  .draw-price-text {
    font-size: 2em !important;
  }
  .estimate-price {
    font-size: 2em !important;
  }
}
@media only screen and (max-width: 600px) {
  .loser-price-text {
    font-size: 1.5em !important;
  }
  .winner-price-text {
    font-size: 1.5em !important;
  }
  .draw-price-text {
    font-size: 1.5em !important;
  }
  .estimate-price {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 1280px) {
  .duel-result-price-text {
    font-size: 1.3em !important;
  }
}
@media only screen and (max-width: 1024px) {
  .duel-result-price-text {
    font-size: 1.1em !important;
  }
}

@media only screen and (max-width: 800px) {
  .duel-result-price-text {
    font-size: 0.9em !important;
  }
}

@media only screen and (max-width: 600px) {
  .legion-name-text {
    font-size: 0.7em !important;
  }

  .legion-ap-text {
    font-size: 1em !important;
  }

  .legion-id-text {
    font-size: 0.7em !important;
  }

  .duel-bet-price-text {
    font-size: 0.7em !important;
  }

  .duel-left-time-text {
    font-size: 0.7em !important;
    top: 20px !important;
  }

  .duel-result-price-text {
    font-size: 0.7em !important;
  }
}

@media only screen and (max-width: 375px) {
  .legion-ap-text {
    font-size: 0.7em !important;
    bottom: 15px;
  }

  .duel-result-price-text {
    font-size: 0.7em !important;
  }
}
