.tutorial-bottom-arrow {
  border-bottom: 5px solid white;
}
.tutorial-bottom-arrow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  bottom: -10px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-top-arrow {
  border-top: 5px solid white;
}
.tutorial-top-arrow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  top: -10px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-left-arrow {
  border-left: 5px solid white;
}
.tutorial-left-arrow:after {
  content: "";
  position: absolute;
  left: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  transform: translate(0%, -50%);
}

.tutorial-right-arrow {
  border-right: 5px solid white;
}
.tutorial-right-arrow:after {
  content: "";
  position: absolute;
  right: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  transform: translate(0%, -50%);
}

/* arrow-start */
.tutorial-bottom-start-arrow {
  border-bottom: 5px solid white;
}
.tutorial-bottom-start-arrow:after {
  content: "";
  position: absolute;
  left: 10;
  margin: 0 auto;
  width: 0;
  height: 0;
  bottom: -10px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-top-start-arrow {
  border-top: 5px solid white;
}
.tutorial-top-start-arrow:after {
  content: "";
  position: absolute;
  left: 10;
  margin: 0 auto;
  width: 0;
  height: 0;
  top: -10px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-left-start-arrow {
  border-left: 5px solid white;
}
.tutorial-left-start-arrow:after {
  content: "";
  position: absolute;
  left: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 10px;
}

.tutorial-right-start-arrow {
  border-right: 5px solid white;
}
.tutorial-right-start-arrow:after {
  content: "";
  position: absolute;
  right: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 10px;
}

/* arrow-end */
.tutorial-bottom-end-arrow {
  border-bottom: 5px solid white;
}
.tutorial-bottom-end-arrow:after {
  content: "";
  position: absolute;
  right: 10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  bottom: -10px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-top-end-arrow {
  border-top: 5px solid white;
}
.tutorial-top-end-arrow:after {
  content: "";
  position: absolute;
  right: 10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  top: -10px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tutorial-left-end-arrow {
  border-left: 5px solid white;
}
.tutorial-left-end-arrow:after {
  content: "";
  position: absolute;
  left: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  bottom: 10px;
}

.tutorial-right-end-arrow {
  border-right: 5px solid white;
}
.tutorial-right-end-arrow:after {
  content: "";
  position: absolute;
  right: -10px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  bottom: 10px;
}

.tutorial-top {
  margin-bottom: 0px;
}

.tutorial-bottom {
  margin-top: 0px;
}

.tutorial-left {
  margin-right: 0px;
}

.tutorial-right {
  margin-left: 0px;
}
