body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  background: url("assets/images/nicah_background.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: auto;
}

@media (min-width: 0px) {
  #main {
    background-position: 20%;
    background-size: auto 100%;
  }
}

@media (min-width: 1600px) {
  #main {
    background-position: 0%;
    background-size: 100% 100%;
  }
}